<?xml version="1.0"?>
<config>
    <modules>
        <GhoSter_BundleProduct>
            <version>1.0.0</version>
        </GhoSter_BundleProduct>
    </modules>
    <global>
        <models>
            <ghoster_bundleproduct>
                <class>GhoSter_BundleProduct_Model</class>
                <resourceModel>ghoster_bundleproduct_resource</resourceModel>
            </ghoster_bundleproduct>
            <ghoster_bundleproduct_resource>
                <class>GhoSter_BundleProduct_Model_Resource</class>
            </ghoster_bundleproduct_resource>
        </models>
        <blocks>
            <ghoster_bundleproduct>
                <class>GhoSter_BundleProduct_Block</class>
            </ghoster_bundleproduct>
        </blocks>
        <helpers>
            <ghoster_bundleproduct>
                <class>GhoSter_BundleProduct_Helper</class>
            </ghoster_bundleproduct>
        </helpers>
        <resources>
            <ghoster_bundleproduct_setup>
                <setup>
                    <module>GhoSter_BundleProduct</module>
                </setup>
            </ghoster_bundleproduct_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ghoster_bundleproduct>
                    <file>ghoster/bundleproduct.xml</file>
                </ghoster_bundleproduct>
            </updates>
        </layout>
    </adminhtml>
</config>